/* line 3, ../sass/breezko.scss */
.breeze {
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  -ms-perspective: 1400px;
  -o-perspective: 1400px;
  perspective: 1400px;
  text-align: center;
  background: #f3f3f3;
  width: 200px;
  height: 200px;
  position: relative;
}

/* line 13, ../sass/breezko.scss */
.breeze li {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -moz-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -ms-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  -o-transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  transform: translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #f3f3f3;
  background: #fff;
  color: #fff;
  background: #000;
}

/* line 27, ../sass/breezko.scss */
.breeze li.active {
  display: block;
}
